	body{
	  background-color: yellow;
	}
	
		.bandi, .bandii, .bandiii, .bandiv, .bandv {
			margin-left: 50px;
			align:center;
  margin-top: 200px;
  display: inline-block;
}
img{
//  margin-left:50px;
display: flex;
  align-items: center;
  margin-left: 50%;
}
marquee{
  background-color:blue;
  color: pink;
}
